@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
nav .wrapper{
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100%;
}
nav .nav-container{
    width: 100%;
    height: 100%;
    margin: 0 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav-container img{
    width: 60px;
}
nav .nav-container .links a{
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.2s linear;
}
nav .nav-container .links a:hover{
    color: rgb(124,123,123);
}
nav .nav-container .search{
    width: 320px;
    box-shadow: 1px 1px 20px #fff;
    height: 5vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #fff;
}
nav .nav-container .search input{
    width: 86%;
    padding-left: 15px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
nav .nav-container .search i{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 14%;
    cursor: pointer;
    height: 100%;
}
.landingpage{
    background-image: url(images/black.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingpage .content{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}
.landingpage .content .heading{
    margin-top: -100px;
    max-width: 460px;
    width: 100%;
}
.landingpage .content .heading h3{
    color: red;
    font-size: 1.6rem;   
}
.landingpage .content .heading h1{
    color: #000;
    line-height: -2rem;
    font-size: 4.5rem;
}
.landingpage .content .heading p{
    color: #000;
    font-size: 1.2rem;
}
.landingpage .content .heading button{
    width: 220px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #000;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    background: #000;
    color: #fff;
    border-radius: 20px;
    font-family: 'Potua One', serif;
    transition: .5s linear;
}
.landingpage .content .heading button:hover{
    scale: 1.05 ;
}
.landingpage .content .image img{
    width: 800px;
    transform: rotate(40deg);
}